---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<head>
  <Layout
    title="Home"
    ,
    description="Home of Aisha Wiki"
    ,
    image="/full-body.webp"
    ,
  />
</head>

<body>
  <Navbar />
  <main class="mx-auto overflow-hidden sm:h-full md:h-screen bg-neutral-200">
    <img
      src="Siravij-RedDepot.jpg"
      alt="It's Me,Siravij!"
      class="w-full mx-auto mx-auto lg:-mt-96 sm:-mt-72 -mt-auto -mb-20 pt-10"
    />
    <style></style>
  </main>
</body>
