<footer
  class="pt-12 pb-8 px-auto px-4 md:px-6 flex items-center text-gray-600 text-sm sm:text-base dark:bg-dwarn dark:text-white bg-white"
>
  <div
    class="space-x-2 flex transition-transform duration-700 ease-in-out hover:rotate-[360deg]"
  >
    <a href="https://creatorsgarten.org/ring" title="Creatorsgarten">
      <img src="/garten.svg" class="w-6 sm:w-8 aspect-square" alt="webring" />
    </a>
  </div>
  <div class="mx-4 h-6 sm:h-8 border-l-2 border-gray-300"></div>
  <p>© {new Date().getFullYear()} Siravij Praevisavakij</p>
</footer>
